@keyframes summer {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@keyframes crab {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}

@keyframes boat {
  from {
    transform: translateY(-30px) rotate(-5deg);
  }
  to {
    transform: translateY(0px) rotate(5deg);
  }
}

@keyframes ufo {
  from {
    transform: rotate(-5deg) scale3d(1, 1, 1);
  }
  to {
    transform: rotate(15deg) scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes smallBird {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-15px);
  }
}

#pic-summer {
  animation: summer;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pic-crab {
  animation: crab;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pic-bird {
  animation: summer;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pic-boat {
  animation: boat;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pic-ufo {
  animation: ufo;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pic-small-bird {
  animation: smallBird;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}